<mat-toolbar color="primary">
    <span>{{service.myForm.controls['id'].value?"Modifier Enseignant":"Ajouter Enseignant"}}</span>
    <mat-icon id="close-icon" (click)="CloseDialog()">close</mat-icon>
</mat-toolbar>

<form [formGroup]="service.myForm" class="normal-form">
    <div class="controles-container">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="assisters">
        <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nom">
            <mat-error *ngIf="service.myForm.controls['nom'].invalid && service.myForm.controls['nom'].touched">
                verifier le nom
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Prenom" formControlName="prenom">
            <mat-error *ngIf="service.myForm.controls['prenom'].invalid && service.myForm.controls['prenom'].touched">
                verifier le Prenom
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Numero de telephone" formControlName="tlf">
            <mat-error *ngIf="service.myForm.controls['tlf'].invalid  && service.myForm.controls['tlf'].touched">
                le numero est incorrect
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="service.myForm.controls['email'].invalid && service.myForm.controls['email'].touched">
                verifier la format de l'email
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Grade" formControlName="grade">
                <mat-option *ngFor="let grade of grades" [value]="grade.nom">
                    {{grade.nom}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="service.myForm.controls['grade'].invalid  && service.myForm.controls['grade'].touched">
                il faut specifier le grade
            </mat-error>
        </mat-form-field>
        <input type="hidden" formControlName="etudiants">
        <button mat-raised-button color="primary" type="submit" [disabled]="service.myForm.invalid" (click)="OnSubmit()">Valider</button>
    </div>
</form>