<mat-toolbar color="primary">
  <span>Ajouter Encadrant</span>
  <mat-icon id="close-icon" (click)="CloseDialog()">close</mat-icon>
</mat-toolbar>
    
  <form [formGroup]="service.myForm" class="normal-form">
    <div class="controles-container">
      <input type="hidden" formControlName="$key">
        <mat-form-field>
            <input matInput placeholder="Nom" formControlName="Nom">
            <mat-error *ngIf="service.myForm.controls['Nom'].invalid && service.myForm.controls['Nom'].touched">
              verifier le nom
            </mat-error>
          </mat-form-field>
        
          <mat-form-field>
              <input matInput placeholder="Prenom" formControlName="Prenom">
              <mat-error *ngIf="service.myForm.controls['Prenom'].invalid && service.myForm.controls['Prenom'].touched">
                verifier le Prenom
              </mat-error>
            </mat-form-field>  
        
            <mat-form-field>
                <input matInput placeholder="Numero de telephone" formControlName="Tlf">
                <mat-error *ngIf="service.myForm.controls['Tlf'].invalid  && service.myForm.controls['Tlf'].touched">
                  le numero est incorrect
                </mat-error>
              </mat-form-field>  
        
              <mat-form-field>
                  <input matInput placeholder="Email" formControlName="Email">
                  <mat-error *ngIf="service.myForm.controls['Email'].invalid && service.myForm.controls['Email'].touched">
                    verifier la format de l'email
                  </mat-error>
                </mat-form-field>  
        
                <mat-form-field>
                    <mat-select placeholder="Grade" formControlName="Grade">
                      <mat-option *ngFor="let grade of grades" [value]="grade.id">
                      {{grade.nom}}
                      </mat-option>
                </mat-select>
                  <mat-error *ngIf="service.myForm.controls['Grade'].invalid  && service.myForm.controls['Grade'].touched">
                     il faut specifier le grade
                  </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="service.myForm.invalid" (click)="OnSubmit()">Valider</button>
    </div>  
  </form>